# Why do we need a new dataset MCMD for evaluating commit message generation?

In [1]:
import pandas as pd
import os,json

model_name_list = ["CommitGen","CoDiSum","NMT","PtrGNCMsg","NNGen"]
lan_list = ["java","csharp","cpp","python","javascript"]

## models performance on our dataset MCMD

### MCMD<sub>Java</sub>

In [2]:
results = pd.DataFrame(columns=['B-Moses', 'B-Norm', 'B-CC', 'Rouge-1', 'Rouge-2', 'Rouge-L', 'Meteor'], index=model_name_list)
for model_name in model_name_list:
    dataset_name = "MCMD/{}/split_random".format(lan_list[0])
    ref_path = "../experiment_results/model_{}/data_{}/ref.msg".format(model_name,dataset_name)
    gen_path = "../experiment_results/model_{}/data_{}/gen.msg".format(model_name,dataset_name)
    BM_evaluate_cmd = "../metrics/B-Moses.perl {} < {}".format(ref_path, gen_path)
    results['B-Moses'][model_name] = float(os.popen(BM_evaluate_cmd).read().split("=")[1].split(",")[0].strip())
    BN_evaluate_cmd = "python ../metrics/B-Norm.py {} < {}".format(ref_path, gen_path)
    results['B-Norm'][model_name] = float(os.popen(BN_evaluate_cmd).read())
    BC_evaluate_cmd = "python ../metrics/B-CC.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['B-CC'][model_name] = float(os.popen(BC_evaluate_cmd).read().strip())
    Rouge_evaluate_cmd = "python ../metrics/Rouge.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    rouge_str = os.popen(Rouge_evaluate_cmd).read().replace("'", "\"")
    rouge_dict = json.loads(rouge_str)
    results['Rouge-1'][model_name], results['Rouge-2'][model_name], results['Rouge-L'][model_name] = rouge_dict['ROUGE-1'], rouge_dict['ROUGE-2'], rouge_dict['ROUGE-L']
    Meteor_evaluate_cmd = "python ../metrics/Meteor.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['Meteor'][model_name] = float(os.popen(Meteor_evaluate_cmd).read().strip())
pd.options.display.float_format = '{:.2f}'.format
results

          B-Moses B-Norm  B-CC Rouge-1 Rouge-2 Rouge-L Meteor
CommitGen    6.29  12.39  7.67   13.06    6.23   12.94  14.16
CoDiSum      2.00  14.00  5.37   16.84    4.43   16.51  11.34
NMT          9.17  13.39 10.24   15.47    7.78   15.33  16.00
PtrGNCMsg    8.25  15.33 11.70   19.09    8.32   18.64  19.13
NNGen       13.30  17.81 14.46   21.49   11.50   20.87  22.11

### MCMD<sub>C#</sub>

In [3]:
results = pd.DataFrame(columns=['B-Moses', 'B-Norm', 'B-CC', 'Rouge-1', 'Rouge-2', 'Rouge-L', 'Meteor'], index=model_name_list)
for model_name in model_name_list:
    dataset_name = "MCMD/{}/split_random".format(lan_list[1])
    ref_path = "../experiment_results/model_{}/data_{}/ref.msg".format(model_name,dataset_name)
    gen_path = "../experiment_results/model_{}/data_{}/gen.msg".format(model_name,dataset_name)
    BM_evaluate_cmd = "../metrics/B-Moses.perl {} < {}".format(ref_path, gen_path)
    results['B-Moses'][model_name] = float(os.popen(BM_evaluate_cmd).read().split("=")[1].split(",")[0].strip())
    BN_evaluate_cmd = "python ../metrics/B-Norm.py {} < {}".format(ref_path, gen_path)
    results['B-Norm'][model_name] = float(os.popen(BN_evaluate_cmd).read())
    BC_evaluate_cmd = "python ../metrics/B-CC.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['B-CC'][model_name] = float(os.popen(BC_evaluate_cmd).read().strip())
    Rouge_evaluate_cmd = "python ../metrics/Rouge.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    rouge_str = os.popen(Rouge_evaluate_cmd).read().replace("'", "\"")
    rouge_dict = json.loads(rouge_str)
    results['Rouge-1'][model_name], results['Rouge-2'][model_name], results['Rouge-L'][model_name] = rouge_dict['ROUGE-1'], rouge_dict['ROUGE-2'], rouge_dict['ROUGE-L']
    Meteor_evaluate_cmd = "python ../metrics/Meteor.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['Meteor'][model_name] = float(os.popen(Meteor_evaluate_cmd).read().strip())
pd.options.display.float_format = '{:.2f}'.format
results

          B-Moses B-Norm  B-CC Rouge-1 Rouge-2 Rouge-L Meteor
CommitGen   16.87  18.15 14.85   19.41   14.64   19.32  20.18
CoDiSum      1.78  12.73  4.74   15.07    3.50   14.78  10.01
NMT         20.18  17.32 16.35   20.11   14.74   20.02  19.80
PtrGNCMsg   18.92  19.72 17.18   22.32   14.30   21.99  22.33
NNGen       22.79  22.92 20.73   25.23   17.50   24.80  26.22

### MCMD<sub>C++</sub>

In [4]:
results = pd.DataFrame(columns=['B-Moses', 'B-Norm', 'B-CC', 'Rouge-1', 'Rouge-2', 'Rouge-L', 'Meteor'], index=model_name_list)
for model_name in model_name_list:
    dataset_name = "MCMD/{}/split_random".format(lan_list[2])
    ref_path = "../experiment_results/model_{}/data_{}/ref.msg".format(model_name,dataset_name)
    gen_path = "../experiment_results/model_{}/data_{}/gen.msg".format(model_name,dataset_name)
    BM_evaluate_cmd = "../metrics/B-Moses.perl {} < {}".format(ref_path, gen_path)
    results['B-Moses'][model_name] = float(os.popen(BM_evaluate_cmd).read().split("=")[1].split(",")[0].strip())
    BN_evaluate_cmd = "python ../metrics/B-Norm.py {} < {}".format(ref_path, gen_path)
    results['B-Norm'][model_name] = float(os.popen(BN_evaluate_cmd).read())
    BC_evaluate_cmd = "python ../metrics/B-CC.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['B-CC'][model_name] = float(os.popen(BC_evaluate_cmd).read().strip())
    Rouge_evaluate_cmd = "python ../metrics/Rouge.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    rouge_str = os.popen(Rouge_evaluate_cmd).read().replace("'", "\"")
    rouge_dict = json.loads(rouge_str)
    results['Rouge-1'][model_name], results['Rouge-2'][model_name], results['Rouge-L'][model_name] = rouge_dict['ROUGE-1'], rouge_dict['ROUGE-2'], rouge_dict['ROUGE-L']
    Meteor_evaluate_cmd = "python ../metrics/Meteor.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['Meteor'][model_name] = float(os.popen(Meteor_evaluate_cmd).read().strip())
pd.options.display.float_format = '{:.2f}'.format
results

          B-Moses B-Norm  B-CC Rouge-1 Rouge-2 Rouge-L Meteor
CommitGen    7.08  11.58  8.83   13.58    8.32   13.53  14.61
CoDiSum      3.99  12.46  5.71   15.17    4.54   14.94  10.20
NMT          8.37  11.56  9.63   14.11    8.17   14.04  14.75
PtrGNCMsg    5.91  13.07  9.97   17.53    7.69   17.08  16.86
NNGen        9.57  13.69 10.89   16.81    8.26   16.25  17.18

### MCMD<sub>Python</sub>

In [5]:
results = pd.DataFrame(columns=['B-Moses', 'B-Norm', 'B-CC', 'Rouge-1', 'Rouge-2', 'Rouge-L', 'Meteor'], index=model_name_list)
for model_name in model_name_list:
    dataset_name = "MCMD/{}/split_random".format(lan_list[3])
    ref_path = "../experiment_results/model_{}/data_{}/ref.msg".format(model_name,dataset_name)
    gen_path = "../experiment_results/model_{}/data_{}/gen.msg".format(model_name,dataset_name)
    BM_evaluate_cmd = "../metrics/B-Moses.perl {} < {}".format(ref_path, gen_path)
    results['B-Moses'][model_name] = float(os.popen(BM_evaluate_cmd).read().split("=")[1].split(",")[0].strip())
    BN_evaluate_cmd = "python ../metrics/B-Norm.py {} < {}".format(ref_path, gen_path)
    results['B-Norm'][model_name] = float(os.popen(BN_evaluate_cmd).read())
    BC_evaluate_cmd = "python ../metrics/B-CC.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['B-CC'][model_name] = float(os.popen(BC_evaluate_cmd).read().strip())
    Rouge_evaluate_cmd = "python ../metrics/Rouge.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    rouge_str = os.popen(Rouge_evaluate_cmd).read().replace("'", "\"")
    rouge_dict = json.loads(rouge_str)
    results['Rouge-1'][model_name], results['Rouge-2'][model_name], results['Rouge-L'][model_name] = rouge_dict['ROUGE-1'], rouge_dict['ROUGE-2'], rouge_dict['ROUGE-L']
    Meteor_evaluate_cmd = "python ../metrics/Meteor.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['Meteor'][model_name] = float(os.popen(Meteor_evaluate_cmd).read().strip())
pd.options.display.float_format = '{:.2f}'.format
results

          B-Moses B-Norm  B-CC Rouge-1 Rouge-2 Rouge-L Meteor
CommitGen    5.81  11.10  7.78   13.11    7.47   13.01  15.17
CoDiSum      2.63  14.63  5.74   19.45    5.94   18.91  12.08
NMT          7.64  11.53  9.56   14.56    8.22   14.41  16.40
PtrGNCMsg    8.62  15.99 11.87   21.39    9.91   20.76  21.18
NNGen       11.66  16.64 13.19   20.16   10.33   19.44  20.84

### MCMD<sub>JavaScript</sub>

In [7]:
results = pd.DataFrame(columns=['B-Moses', 'B-Norm', 'B-CC', 'Rouge-1', 'Rouge-2', 'Rouge-L', 'Meteor'], index=model_name_list)
for model_name in model_name_list:
    dataset_name = "MCMD/{}/split_random".format(lan_list[4])
    ref_path = "../experiment_results/model_{}/data_{}/ref.msg".format(model_name,dataset_name)
    gen_path = "../experiment_results/model_{}/data_{}/gen.msg".format(model_name,dataset_name)
    BM_evaluate_cmd = "../metrics/B-Moses.perl {} < {}".format(ref_path, gen_path)
    results['B-Moses'][model_name] = float(os.popen(BM_evaluate_cmd).read().split("=")[1].split(",")[0].strip())
    BN_evaluate_cmd = "python ../metrics/B-Norm.py {} < {}".format(ref_path, gen_path)
    results['B-Norm'][model_name] = float(os.popen(BN_evaluate_cmd).read())
    BC_evaluate_cmd = "python ../metrics/B-CC.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['B-CC'][model_name] = float(os.popen(BC_evaluate_cmd).read().strip())
    Rouge_evaluate_cmd = "python ../metrics/Rouge.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    rouge_str = os.popen(Rouge_evaluate_cmd).read().replace("'", "\"")
    rouge_dict = json.loads(rouge_str)
    results['Rouge-1'][model_name], results['Rouge-2'][model_name], results['Rouge-L'][model_name] = rouge_dict['ROUGE-1'], rouge_dict['ROUGE-2'], rouge_dict['ROUGE-L']
    Meteor_evaluate_cmd = "python ../metrics/Meteor.py --ref_path {} --gen_path {}".format(ref_path, gen_path)
    results['Meteor'][model_name] = float(os.popen(Meteor_evaluate_cmd).read().strip())
pd.options.display.float_format = '{:.2f}'.format
results

          B-Moses B-Norm  B-CC Rouge-1 Rouge-2 Rouge-L Meteor
CommitGen   11.66  17.40 11.81   20.12   12.66   19.94  20.50
CoDiSum      1.51  11.24  4.31   13.89    2.94   13.53   9.51
NMT         15.00  17.08 14.77   20.78   13.07   20.54  21.13
PtrGNCMsg   15.15  19.59 16.50   25.11   14.45   24.60  24.61
NNGen       14.05  18.03 14.71   21.97   11.61   21.27  22.46